<h1 mat-dialog-title>Add New Contact</h1>

<div mat-dialog-content>

  <div class="example-container">
    <!-- Avatar -->
    <mat-form-field appearance="standard">
      <mat-label>Avatar</mat-label>
      <mat-select [(ngModel)]="user.avatar">
        <mat-select-trigger>
          <mat-icon svgIcon="{{user.avatar}}"></mat-icon> {{ user.avatar }}
        </mat-select-trigger>
        <mat-option *ngFor="let avatar of avatars" [value]="avatar">
          <mat-icon svgIcon="{{avatar}}"></mat-icon> {{ avatar }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <!-- Name -->
    <mat-form-field appearance="standard">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="user.name" [formControl]="username" required>
      <mat-error *ngIf="username.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <br>
    <!-- Biography -->
    <mat-form-field appearance="standard">
      <mat-label>Bio</mat-label>
      <textarea matInput [(ngModel)]="user.bio"></textarea>
    </mat-form-field>
  </div>    

</div>

<div mat-dialog-actions>
  <button mat-button color="primary" (click)="saveContact()">
    <mat-icon>save</mat-icon> Save
  </button>
  <button mat-button (click)="dismiss()">
    <mat-icon>cancel</mat-icon> Cancel
  </button>
</div>
